<div class="container" ng-controller="bbCompCtrl" ng-init="getCategories()">
    <div class="col-xs-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" dropdown-toggle ng-disabled="disabled">
                Select Category: {{categorySelection}}
                <span class="caret">
                </span>
            </button>

            <ul class="dropdown-menu" ng-model="list.Category">
                <li ng-repeat="type in categories"><a ng-click="categorySelect(type)">{{type.Category}}</a></li>
            </ul>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Subject" ng-model="subject">
        </div>

        <div ng-repeat='date in dates'>
            <span><strong>Date</strong> : {{date.date1 | dateFormat}} </span>
            <br>
            <span><strong>Time</strong> : {{date.date1 | time}} </span>
        </div>

        <textarea rows="5" cols="50" ng-model="message"></textarea>

        <a ng-href='#/'>
            <button type="button" class="btn btn-default pull-left">
                Back
            </button>
        </a>

        <button type="button" class="btn btn-default pull-right" ng-click='sendMessage()'>Send Message</button>
    </div>
</div>




